#mouseless-bmselect-iframe {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0);
}

.mouseless-active {
  visibility: visible;
}

.mouseless-deactive {
  visibility: hidden;
}
